.pill{
margin-right: 8px;
margin-top: 10px;
width: fit-content;
height: 28px;
left: 0px;
top: 0px;
font-size: 13px;
padding: 4px 10px;
background: #EFF1F6;
border: 1px solid #E0E3EB;
box-sizing: border-box;
border-radius: 100px;
}

.pill-nonactive{
margin-right: 8px;
margin-top: 10px;
width: 82px;
height: 28px;
left: 0px;
top: 0px;
font-size: 13px;
padding: 4px 10px;
border: 1px solid #E0E3EB;
box-sizing: border-box;
border-radius: 100px;
}