<div class="row ps-4">
<div class="pill btn">English <img class="ps-4"  src="https://ik.imagekit.io/hk/Group_1791_SPrZEqrIRHXz.png?updatedAt=1636540988376"> </div>
<div class="pill btn">Hindi <img class="ps-4"  src="https://ik.imagekit.io/hk/Group_1791_SPrZEqrIRHXz.png?updatedAt=1636540988376"> </div>
<div class="pill btn">Instrumental <img class="ps-4"  src="https://ik.imagekit.io/hk/Group_1791_SPrZEqrIRHXz.png?updatedAt=1636540988376"> </div>
<div class="pill-nonactive btn">English </div>
<div class="pill-nonactive btn">Punjabi </div>
</div>