.card-album{
 width: 200px;
}

.new-wrap{
flex-wrap: wrap;
}

.album-text{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 15px;
/* identical to box height */

text-align: center;
letter-spacing: 0.3px;
text-transform: uppercase;

color: #989AA3;
}