/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.all-title{
 font-size: 24px;
 line-height: 9px;
}

.sub-text{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 31px;
color: #989AA3;
}

.clearfix{
    height: 20px;
}