/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

:root {
  --main-songdew-blue: #3D67FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-heading{

font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;

color: #222222;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
 color: #989AA3;
}

.padding-desktop {
    padding-left: 47px;
}

.ps{
padding-left: 72px;
padding-bottom: 26px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
border-color: transparent !important;
border-bottom: 2px var(--main-songdew-blue) solid !important;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.all-title{
 font-size: 24px;
 line-height: 9px;
}

.sub-text{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 31px;
color: #989AA3;
}

.clearfix{
    height: 20px;
}


/* Mobile CSS */


@media only screen and (max-width: 600px) {
 .padding-desktop {
    padding-left: 0px;
}
}